body {
    background-image: url(images/christmas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    width: 90%;
}

.title {
    color: rgb(137, 201, 158);
    font-size: 24px;
}

select {
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-top: 1rem;
    width: 50%;
}

input {
    border: none;
    border-radius: 7px;
    width: 50%;
    margin-top: 2rem;
    padding: 10px;
    background-color: burlywood;
}

p {
    font-weight: 600;

}

#countdown {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(156, 214, 175);
    margin-top: 6rem;
}